@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
html {
  font-size:1vw;
}

.date {
  font-family: 'Montserrat', serif;
}
.title,.sub-title,.contents {
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  background-color: #F6F5F1;
}

#main {
  height: auto;
}
.news-contents {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 60%;
  padding-bottom: 10%;
}
.back {
  position: fixed;
  z-index: 10;
  margin-left: 2%;
  margin-top: 8.5%;
}
.back img {
  width: 20%;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
  opacity: 0.5;
}
.back :hover {
  opacity: 1.0;
  transition: 0.3s;
}
.date {
  padding-right: 0.5%;
  padding-top: 1%;
  text-align: right;
  font-weight: 600;
  color: #898989;
}
.main-img img{
  width: 100%;
}
.title {
  margin-top: 3%;
  margin-bottom: 4%;
  font-size: 3rem;
  font-weight: 900;
  color: #121212;
}
.sub-title {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
}
.contents {
  margin-bottom: 2%;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #444444;
  text-align: justify;
}


/*----------- フッター --------------*/
footer {
  background-color: #121212;
}
.related {
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  color: #FFF;
  padding-top: 4%;
  letter-spacing: 0.2rem;
}
.footericon{
  margin: 0 5% ;
}
.icon {
  margin-right: -0.8%;
  text-align: right;
}
.icon i {

}
.footericon i {
  margin-top:1%;
  color: #FFF;
  margin-right: 1%;
  font-size: 1.3rem;
}
.footericon i:hover{
  color: #F2432C;
}
.footer_text {
  position: relative;
  display: flex;
  padding-bottom: 2%;
  justify-content: space-between;
  font-weight: 400;
}
.footer_text p{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #FFF;
}
.kansei {
  font-weight: 400;
  font-size: 1rem;
  color: #FFF;
}
.kansei span {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.4rem;
}
.reserved {
  font-weight: 200;
  font-size: 1rem;
}

@media screen and (max-width: 767px){
.related {
  text-align: left;
  font-size: 0.6rem;
  font-weight: 400;
  color: #FFF;
  padding-top: 8%;
  letter-spacing: 0.2rem;
}
.icon {
  margin-right: 1%;
  font-size: 5rem;
  text-align: left;
}
.kansei {
    display: none;
}
.reserved {
  font-weight: 200;
  font-size: 0.5rem;
}
}
/*----------- フッター --------------*/
