@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: auto;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/


.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:auto;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
    margin-bottom: 0.5%;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
	  z-index: 3;
    top: 11%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #121212;/*矢印の色*/
    border-right: 2px solid #121212;/*矢印の色*/
    height: 25px;
    width: 25px;
}
@media screen and (max-width: 767px){
.slick-prev,
.slick-next {
  top: 3%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 1px solid #121212;/*矢印の色*/
  border-right: 1px solid #121212;/*矢印の色*/
  height: 15px;
  width: 15px;
}
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 3;
  text-align:center;
  padding-bottom: 10%;
}
.slick-dots li {
  display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    cursor: pointer;
    color: transparent;
    outline: none;
    width:12px;/*ドットボタンのサイズ*/
    height:12px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#fff;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#111;/*ドットボタンの現在地表示の色*/
}

/*========= レイアウトのためのCSS ===============*/
ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #fff;
}

a:hover,
a:active{
	text-decoration: none;
}

h1{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size:6vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.wrapper{
	position: relative;
}

.container{
	background:#555;
}

.container p{
	padding: 300px 0;
	text-align: center;
	color: #fff;
}
